version: "3"
services:
  backend:
    # # build the Docker image using the Dockerfile in the current directory
    build: .
    # # map the port 9090 of the container to port 9090 on localhost
    ports:
      # - <port on localhost>:<port in container>
      - 9090:9090
    # # copy environment variables from .env file
    env_file:
      - ./.env
    # # command to run the FastAPI application with Gunicorn for production
    command: >
      sh -c "WORKERS=$$(nproc);
      if [ $$WORKERS -gt 4 ]; then WORKERS=4; fi;
      WORKERS=$$((WORKERS * 2 + 1));
      uv run gunicorn app.main:app
      --bind 0.0.0.0:9090
      --worker-class uvicorn.workers.UvicornWorker
      --workers $$WORKERS"