version: "3"
services:
  backend:
    # # build the Docker image using the Dockerfile in the current directory
    build: .
    # # map the port 9000 of the container to port 9000 on localhost
    ports:
      # - <port on localhost>: <>port in container>
      - ${DEV_DOCKER_PORT}:9000
    # # copy environment variables from .env file
    env_file:
      - ./.env
    # # mount the current directory to /usr/src/app in the container for live code reloading
    volumes:
      - ./:/usr/src/app
    # # command to run the FastAPI application with live reloading
    command: uv run uvicorn app.main:app --host 0.0.0.0 --port ${DEV_DOCKER_PORT} --reload